{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}




<div class="container">

    <h1>Products</h1>

        
        <label for="favcolor">Select your preferred color:</label> &nbsp
        <a href="{% url 'color' 1 %}"><button id="btn1" style="border:none; width:50px; height:30px; background-color: #C68642;">&nbsp</button></a>&nbsp 
        <a href ="{% url 'color' 2 %}"><button id="btn2" style="border:none; width:50px; height:30px; background-color: #E0AC69;">&nbsp </button></a>&nbsp 
        <a href="{% url 'color' 3 %}"><button id="btn3" style="border:none; width:50px; height:30px; background-color: #F1C27D;">&nbsp</button></a>&nbsp 
        <a href="{% url 'color' 4 %}"><button id="btn4" style="border:none; width:50px; height:30px; background-color: #FFDBAC;">&nbsp</button></a>

        <form action="{% url 'index' %}">
            {% csrf_token %}
            <label for="favcolor">Select your preferred color:</label> &nbsp
            <a href="{% url 'color' 1 %}"><button id="btn1" style="border:none; width:50px; height:30px; background-color: #C68642;">&nbsp</button></a>&nbsp 
            <a href ="{% url 'color' 2 %}"><button id="btn2" style="border:none; width:50px; height:30px; background-color: #E0AC69;">&nbsp </button></a>&nbsp 
            <a href="{% url 'color' 3 %}"><button id="btn3" style="border:none; width:50px; height:30px; background-color: #F1C27D;">&nbsp</button></a>&nbsp 
            <a href="{% url 'color' 4 %}"><button id="btn4" style="border:none; width:50px; height:30px; background-color: #FFDBAC;">&nbsp</button></a>
        </form>

        <div class="loyalty" style="width:150px; height:100px; background-color: aliceblue; text-align:center;"></div>

    </div>

    

        

            

            <div class="products">

                {% for listing in listings %}

                <a href="{% url 'listing' list_id=listing.id %}">

                <div class="product">

                    <img src="{{ listing.img }}" alt=""/>

                    <div class="product_details">
                        <h2>{{ listing.title }}</h2>
                        <p>Category: {{ listing.category }}</p>
                        <p>Price: ${{ listing.start_bid}}</p>
                    </div>

                </div>

                </a>
                
                {% endfor %}

            </div>

    

</div>
{% endblock %}