{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
<div class="container">

    <h1>Products</h1>

    

        

            

            <div class="products">

                {% for listing in listings %}

                <a href="{% url 'listing' list_id=listing.id %}">

                <div class="product">

                    <img src="{{ listing.img }}" alt=""/>

                    <div class="product_details">
                        <h2>{{ listing.title }}</h2>
                        <p>Category: {{ listing.category }}</p>
                        <p>Price: ${{ listing.price}}</p>
                    </div>

                </div>

                </a>
                
                {% endfor %}

            </div>

    

</div>
{% endblock %}