{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}
<div class="spacing">
    <h2>Active Listings</h2>
    <br>

    {% for listing in listings %}
    
            <a class="list-group-item list-group-item-action" href="{% url 'listing' list_id=listing.id %}"">
                <ul class="list-group list-group-horizontal">
                    {% comment %} Image {% endcomment %}
                    <div class="image_spacing">
                        {% if listing.img %}
                                <img src='{{ listing.img }}' alt='{{ listing.img }}' height = '200px' class = "image">
                        {% else %}
                            <img src="{% static 'auctions/blank.png' %}" alt='no image' height = '200px' class = "image">
                        {% endif %}
                    </div>
                    

                    <li class="list-group-item-xxl" >
                        <h1>
                            {{ listing.title }}
                        </h1>
                        <p>
                            Description: {{ listing.desc }}<br>
                            Category: {{ listing.category }}<br>
                        {% if listing.bid.amount %}
                            Current Bid: ${{ listing.bid.amount}}<br>
                        {% endif %}
                            Starting Bid: ${{listing.start_bid}}<br>
                        
                        </p>

                    </li>
                </ul>
            </a>
        
        
    
    {% endfor %}
</div>
{% endblock %}