{% extends "auctions/layout.html" %}
{% load static %}
{% load mathfilters %}
{% block body %}
<div class="listing_spacing">
    <!-- title -->

    <div class="total">
    <div class="title">
        <p>{{listing.title}}</p> 
        {% if listing.img %}
        <img src='{{ listing.img }}' alt='{{ listing.img }}' height = '400px'>
    {% endif %}
    </div>


    <!-- details -->
        

    <div class="details">
        <div class="desc">
            <span class="list_head">Description:</span> 
            <p>{{listing.desc}}</p>
        </div>
            
        <!-- bids -->
        <div class="bids">
            Price: ${{ listing.start_bid}}
        </div>
        <p>
            Listed by: {{listing.user.first_name}} (You)
        <br>
            Category: {{listing.category}}
        </p>

        <form class="row g-3 bidform" action="{% url 'listing' list_id=listing.id %}" method="post">
            {% csrf_token %}
            {% if watchlisted == False %}
                <button type="submit" name="watchlist" class="btn btn-primary"formnovalidate >Add to Cart</button>
            {% else %}
                <button type="submit" name="watchlist" class="btn btn-primary"formnovalidate >Remove from Cart</button>
            {% endif %}
        </form>
    </div>
    

    

    {% if listing.user.id == user.id %}
        <!-- ///////////////////////// OWNER VIEW \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  -->

        <div class="bids">
            <!-- show winning bid and winner -->
            {% if listing.active_status == False %}
                <p>Winning bid: ${{ listing.bid.amount }} by {{ listing.bid.user_id.username}}</p> 
            {% endif %}
        </div>
        

        
        
            </div>
            

        
    
        <!-- comments -->
        
        
          


        


    {% else %}
    <!-- ///////////////////////// USER VIEW \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\  -->


        <!-- details -->

        



        



    <!-- comments -->
        
   


</div>
</div>

{% endif %}




{% endblock %}