{% extends "auctions/layout.html" %}

{% block body %}
<br>
<div class="spacing">
    <div class="form_spacing">
        <h2>New Item Listing</h2>
    </div>
    

    <div class= 'messages'>
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>

    <form action="{% url 'newlisting' %}" method="post" class="newlisting">
        {% csrf_token %}
        <label class =' col-form-label col-form-label-lg'>{{form.title.label}}</label>
        {{form.title}}
        <label class =' col-form-label col-form-label-lg'>{{form.desc.label}}</label>
        {{form.desc}}
        <label class =' col-form-label col-form-label-lg'>{{form.img.label}}</label>
        {{form.img}}
        <label class =' col-form-label col-form-label-lg'>{{form.category.label}}</label>
        {{form.category}}
        <label class =' col-form-label col-form-label-lg'>{{form.start_bid.label}}</label>
        {{form.start_bid}}

        <br>

        <button type="submit" class="btn btn-outline-dark">Submit</button>
        
    </form>

</div>
    

{% endblock %}